{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "semi": [2, "always"],
    "@typescript-eslint/no-inferrable-types": [0, "never"],
    "@typescript-eslint/no-explicit-any": [0, "never"],
    "@typescript-eslint/no-non-null-assertion": [0, "never"],
    "no-debugger": [0, "never"]
  }
}