.kanaKanji-wrapper {
    display: inline-block;
    width: 300px;
    height: 300px;
}

.vertical-line {
    display: inline-block;
    width: 150px;
    height: 300px;
    position: absolute;
    z-index: -999;

    border-right: 2px dashed hsla(220, 100%, 13%, 0.4);
}