.horizontal-line {
    width: 1500px;
    height: 150px;
    position: absolute;
    z-index: -999;

    border-bottom: 2px dashed hsla(220, 100%, 13%, 0.4);
}

.wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}